<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h1>MESSAGES: I LIKE PURPLE</h1>
    <% for( let message of messages ) { %> <% if (!currentUser ||
    !currentUser.is_member) { %>
    <h3>Anonymous user</h3>
    <h3><%= message.message_title %></h3>
    <h3><%= message.message_body %></h3>
    <h4><%= message.message_time %></h4>

    <% } else { %>
    <h3><%= message.first_name %> <%= message.last_name %></h3>
    <h3><%= message.email %></h3>
    <h3><%= message.message_title %></h3>
    <h3><%= message.message_body %></h3>
    <h4><%= message.message_time %></h4>
    <% } %> <% } %> <% if (currentUser) { %>
    <h2>Add a message</h2>
    <form action="/add-message" method="POST">
      <label for="messageTitle">Title</label>
      <input type="text" id="messageTitle" name="messageTitle" />
      <label for="messageBody">Message</label>
      <textarea type="text" id="messageBody" name="messageBody"></textarea>
      <button>Submit</button>
    </form>
    <% } else { %>
    <h2>You can't post any messages until you are verified!</h2>
    <% } %>
  </body>
</html>
